<main>
  <header>
    <div id="title">
      <div id="day">Tuesday</div>
      <div id="d-m-y">8/30/22</div>
    </div>
    <div id="time">
      <div id="number">12:32:06</div>
      <div id="am-pm">PM</div>
    </div>
  </header>
  <summary>
    <div id="city-state">Baton Rouge, LA</div>
    <div id="temp">60&#xb0; F</div>
  </summary>
  <section>
    <div id="sunrise-sunset">
      <div><strong>Sunrise:</strong> 6:22 AM</div>
      <div><strong>Sunset:</strong>&nbsp; 7:52 PM</div>
    </div>
    <div id="rain-wind">
      <div><strong>Rain:</strong> 55%</div>
      <div><strong>Wind:</strong> 3 mph NW</div>
    </div>
  </section>
</main>