<ng-container *ngIf="isWeather()">
<main>
  <header>
    <div id="title">
      <div id="day">{{getDay()}}</div>
      <div id="d-m-y">{{getMDY()}}</div>
    </div>
    <div id="time">
      <div id="number">{{getTime()}}</div>
      <div id="am-pm">{{getMeridiem()}}</div>
    </div>
  </header>
  <summary>
    <div id="city-state">Baton Rouge, LA</div>
    <div id="temp">{{getTemperatureF()}}&#xb0; F</div>
  </summary>
  <section>
    <div id="sunrise-sunset">
      <div><strong>Sunrise:</strong> {{getSunrise()}}</div>
      <div><strong>Sunset:</strong>&nbsp; {{getSunset()}}</div>
    </div>
    <div id="rain-wind">
      <div><strong>Rain:</strong> {{"nothing yet :c"}}</div>
      <div><strong>Wind:</strong> {{getWindSpeed()}} mph {{getWindDirection()}}&#xb0;</div>
    </div>
  </section>
</main>
</ng-container>