<ng-container [ngSwitch]="appState">

<main *ngSwitchCase="getGOOD()">
  <header>
    <div id="title">
      <div id="day">Tuesday</div>
      <div id="d-m-y">8/30/22</div>
    </div>
    <div id="time">
      <div id="number">12:32:06</div>
      <div id="am-pm">PM</div>
    </div>
  </header>
  <summary>
    <div id="city-state">Baton Rouge, LA</div>
    <div id="temp">{{data!["temp"]}}&#xb0; F</div>
  </summary>
  <section>
    <div id="sunrise-sunset">
      <div><strong>Sunrise:</strong> {{data!["sunrise"]}}</div>
      <div><strong>Sunset:</strong>&nbsp; {{data!["sunset"]}}</div>
    </div>
    <div id="rain-wind">
      <div><strong>Rain:</strong> {{"nothing yet :c"}}</div>
      <div><strong>Wind:</strong> {{data!["wind_speed"]}} mph {{data!["wind_deg"]}}&#xb0;</div>
    </div>
  </section>
  <footer>
    <button (click)="refresh()">Refresh</button>
  </footer>
</main>

<main *ngSwitchDefault>
  <div>Loading...</div>
</main>

</ng-container>